{% extends "legal_base.html" %}
{% set title = "DMCA & Copyright" %}
{% set icon = "fas fa-exclamation-triangle" %}
{% set last_updated = "5 Juillet 2023" %}

{% block legal_content %}
<h2>Politique DMCA</h2>
<p>TorrentFlow respecte les droits de propriété intellectuelle et applique une politique stricte concernant le Digital Millennium Copyright Act (DMCA).</p>

<h2>Signalement de contenu</h2>
<p>Si vous estimez que votre travail a été copié de manière à constituer une violation du droit d'auteur :</p>
<ol>
    <li>Envoyez une notification écrite à : dmca@torrentflow.fr</li>
    <li>Incluez votre signature électronique ou physique</li>
    <li>Identifiez le contenu prétendument violé</li>
    <li>Fournissez vos coordonnées complètes</li>
    <li>Ajoutez une déclaration de bonne foi</li>
</ol>

<h2>Procédure</h2>
<p>Après réception d'une notification valide :</p>
<ul>
    <li>Nous retirerons ou désactiverons l'accès au contenu concerné</li>
    <li>Nous notifierons le fournisseur de contenu</li>
    <li>Le fournisseur peut soumettre un contre-avis</li>
</ul>

<h2>Contre-avis</h2>
<p>Si vous estimez que votre contenu a été supprimé par erreur :</p>
<ol>
    <li>Envoyez un contre-ais à dmca@torrentflow.fr</li>
    <li>Incluez votre identification et une déclaration sous peine de parjure</li>
    <li>Nous rétablirons le contenu dans les 10-14 jours ouvrables</li>
</ol>

<h2>Répétition des violations</h2>
<p>Les comptes d'utilisateurs qui enfreignent de manière répétée les droits d'auteur seront désactivés.</p>
{% endblock %}